/* Estilos para el contenedor de la tabla */
.table-container {
    overflow-x: auto; /* Permitir scroll horizontal */
    max-width: 100%; /* Establecer un ancho máximo */
    border-radius: 30px; /* Si deseas mantener el border-radius */
}

.scroll-container {
    overflow-x: auto; /* Permitir scroll horizontal */
}

/* Estilos para la tabla en pantallas medianas y grandes */
.ant-table {
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    width: auto; /* Permitir que la tabla se ajuste al contenido */
    cursor: pointer;
}

.ant-table thead {
    background-color: #FAFAFA;
}

.ant-table thead th {
    padding: 14px 20px;
    font-weight: bold;
    border-right: 1px solid #F0F0F0;
}

.ant-table thead th:last-child {
    border-right: none;
}

.ant-table tbody td {
    padding: 1px 16px;
    border-top: 1px solid #e8e8e8; 
}

.ant-table tbody tr {
    background-color: #FFFFFF; 
}

.ant-table tbody tr:hover {   
    background-color: #FAFAFA; 
}

.ant-table tbody td:last-child {
    border-right: none;
}

/* Estilos para la tabla en dispositivos móviles */
@media screen and (max-width: 768px) {
    .ant-table {
        display: inline-block; /* Mostrar la tabla en línea */
        white-space: nowrap; /* Evitar saltos de línea en dispositivos móviles */
    }

    .ant-table thead {
        display: block; /* Cambiar a bloque para que los th se muestren uno debajo del otro */
    }

    .ant-table thead th {
        display: inline-block; /* Mostrar los th en la misma línea */
        border-bottom: 1px solid #e8e8e8;
        white-space: nowrap; /* Evitar saltos de línea en dispositivos móviles */
        overflow: hidden; /* Ocultar contenido que desborde */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos cuando el contenido desborde */
    }

    .ant-table thead th:last-child {
        border-bottom: none;
    }

    .ant-table tbody td {
        display: inline-block; /* Mostrar los datos en la misma línea */
        border: none;
        border-bottom: 1px solid #e8e8e8;
        white-space: nowrap; /* Evitar saltos de línea en dispositivos móviles */
        overflow: hidden; /* Ocultar contenido que desborde */
        text-overflow: ellipsis; /* Mostrar puntos suspensivos cuando el contenido desborde */
    }

    .ant-table tbody td:last-child {
        border-bottom: none;
    }

    .ant-table tbody td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}
