html,
body {
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --primary: #304878;
  /* --secondary: ; */
  --borderRadius: 6px;
}

.ant-menu {
  background-color: white !important;
  font-size: 16px;
  font-weight: bold;
}

.ant-layout-sider-children {
  background-color: white !important;
}

.ant-layout-sider-trigger {
  background-color: var(--secondary) !important;
}

.ant-menu-item {
  color: black !important;
}

.ant-menu-item-selected {
  color: white !important;
  background-color: var(--primary) !important;
}

.ant-menu-submenu-title {
  color: black !important;
}

